<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d [%t] %-5p %c{1} [%X{mem}] - pageId=[%X{pageId}] %m%n" />
		</layout>
	</appender>

	<appender name="consoleGlobal" class="org.apache.log4j.RollingFileAppender">
		<param name="maxFileSize" value="10MB" />
		<param name="maxBackupIndex" value="100" />
		<param name="File" value="/usr/local/shop/shop.log" />
		<param name="threshold" value="info" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="%d{yyyy-MMM-dd HH:mm:ss,SSS} [%t] %c %x%n  %-5p %m%n" />
		</layout>
	</appender>

	<logger name="com.fspare.interceptors.LoggingInterceptor"
		additivity="false">
		<level value="ERROR" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.jdbc.core" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="console" />
	</logger>

	<logger name="o.s.d.r.w" additivity="false">
		<level value="ERROR" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.springframework.data.neo4j" additivity="false">
		<level value="debug" />
		<appender-ref ref="console" />
	</logger>

	<logger name="org.neo4j.cypherdsl">
		<level value="DEBUG" />
	</logger>

	<logger name="net.sf.ehcache">
		<level value="ERROR" />
	</logger>

	<root>
		<priority value="ERROR" />
		<appender-ref ref="consoleGlobal" />
	</root>

</log4j:configuration>